h1 {
    font-size: 50px;
}
body {
    background-color: pink;
}
.test {
    background-color: blue;
    width: 100px;
    height: 100px;
}
.div-test {
    background-color: white;
    font-size: 40px;
    color: greenyellow;
}
